<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->

    <link rel="icon" th:href="@{/image/logo2.png}" type="image/x-icon">


    <link th:href="@{/Styles/login.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/Styles/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>login</title>
</head>
<body>
<br>

<section>
    <nav>


        <div class="logo">

        </div>

    </nav>


</section>

<h1 style=" padding-top: 100px">DASHBOARD</h1>
<br>
<table border="1" >
    <thead >
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>name</th>
        <!-- Add more fields as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">

        <td th:text="${member.id}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.name}"></td>

        <!-- Add more fields as needed -->
    </tr>
    </tbody>
</table>





<h3 th:text="${errorPassword}" style="color: #ffffff;background: crimson"></h3>

<br><br>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/ADD" method="post">
            <h1>Create Account</h1>

            <span>or use your email for registration</span>
            <input type="text" placeholder="Name" id="nameR" name="nameR" required />
            <input type="email" placeholder="Email" id="email" name="email" required />
            <input type="text" placeholder="User Name" id="usernameR" name="usernameR" required />
            <input type="password" placeholder="Password" id="passwordR" name="passwordR" required />
            <button type="submit">ADD</button>
        </form>
    </div>




    <div class="form-container sign-in-container">

        <form action="/Adelete" method="post" id="deleteForm">

            <h4 th:text="${message}" style="color: #3c3fe9; font-style: inherit"></h4>
            <br>
            <h1>Delete User by ID</h1>
            <input type="text" name="userId" placeholder="Enter User ID" />
            <button type="submit">Delete</button>
        </form>
    </div>


    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Admin</h1>
                <p>you can DELETE Users...</p>
                <button class="ghost" id="signIn">DELETE USER</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Admin</h1>
                <p>you can ADD Users...</p>
                <button class="ghost" id="signUp">ADD USER</button>
            </div>
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>



<script src="/JavaScript/login.js"></script>
<script src="/JavaScript/searchBox.js"></script>
</body>
</html>



